/* DESKTOP */

header {
  background-color: #cecece;
}

main {
  background-color: #cecece;
}

footer {
  background-color: yellow;
}

body{
    padding: 0.5rem 0rem;
    font-family: Roboto, sans-serif;
    max-width:2400px;
    margin-left: auto;
    margin-right: auto;
    background-color:#cecece;
    color: black;
}

.nav ul{
    text-decoration: none;
    list-style-type: none;
}

/*-------------- GRID LAYOUT -------------*/
/*BODY GRID LAYOUT*/
.GridContainer {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: repeat(3, 1fr);
  grid-gap:0px;
  
}

header {
  grid-column: 13;
  grid-row:1;
}

body {
  grid-column: 1/8;
   grid-row:2;

}

aside{
    grid-column: 9/13;
    grid-row: 2;
}

footer {
  grid-column: 1 / 13;
   grid-row: 3;
}


/* MAIN GRID LAYOUT */
.mainGridContainer{
    display:grid;
    grid-template-columns: 13;
}

.about{
    background-color: blanchedalmond;
}

